body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  height: 100%;
}

/*  nav header */
.carts {
  padding: 10 5 0;
}

.btnh {
  background-color:#008CBA;
  border: none;
  width: 100%;
  padding: 5px 15px;
  border-radius: 0.5rem;
  text-align: center;
  color: white;
  font-style: Fantasy; 
  font-family: bold;
}

.navbar-nav {
  margin-left: auto;
}

.hov:hover {
  color: orange;
}

.imgs > a > img {
  height: 250px;
  align-items: center;
  width: 200px;
  
}
.row {
  column-gap: 20px;
}
.brand1{
  background-color: papayawhip;
  margin-top: -10px;
  margin-left: 1em;
}

/* Product */

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: #060316f8;
  /* #060316f8 */
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  
  background-color: #060316f8;
  color: #ffffff;
  position: relative;
  left: 0;
  bottom:0;
  width: 100%;
}
/* Common */
a {
  text-decoration: none;
}
a:hover {
  color: #ff8000;
}
/* Header */
header a {
  color: #ffffff;
  padding: 1rem;
}
a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}
.inp-ser{
  /* align-items: center; */
  margin-left: -40%;
  
}
.py-1{
  box-shadow: #203040;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}

/* --------------------*/

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

.row.center {
  justify-content: center;
}
/* Image */

img.medium {
  max-width: 29rem;
  width: 100%;
  height: 300px;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  /* width: 130%; */
}
.card-body {
  padding: 1rem;
}
.cars{
  width: 250px;
  text-align: center;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
  text-align: center;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: #404040;
}

/*product page */
.row.top{
  align-items: flex-start;
}
ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.success {
  color: #20a020;
}
.error {
  color: #a02020;
}
.btn{
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f8f8f8;
  cursor: pointer;
  background-color: #f0c040;
  width: 100%;
}
select{
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.select:hover,
.btn:hover{
  border: 0.1rem #404040 solid;
}

/* prd img width */
.large {
  width: 70%;
}
/* cart count*/
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

.min-30 {
  min-width: 30rem;
}

/* Form */
.form {
  max-width: 35rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
  display: block;
}

.btnh1 {
  background-color:#ba9800;
border: none;
padding: 5px 15px;
  text-align: center;
  color: white;
  font-style: Fantasy; 
  font-family: bold;
}
.btnh1:hover{
  background-color: #e7c25d;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/*alert*/
.loading{
  display: block !important;
}

/* FOOTER */

/* SLIDE */
.slid{
  height: 20%;
}

/* check out*/
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

/* oderHistory details button*/
.small {
  border: none;
  background-image: linear-gradient(to right, yellow , red );
}
.smalli {
  border: none;
  background-image: linear-gradient(to right, rgb(207, 205, 41) , rgb(233, 59, 59) );
  height: 2rem;
}
.input-group.md-form.form-sm.form-1 input{
  border: 1px solid #dbd6d6;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.text-white,.lighten-3{
  background-color: #ba9800;
}
.carousel-item{
  height: 10%;
}
.hed{
  text-align: center;
}